footer {
  text-align: center;
  padding: 5rem 0 2rem;
  background-color: orange;
  margin-top: 5rem;
  width: 100.8%;
  box-sizing: border-box;
}

.copyright {
  color: rgb(32, 32, 32);
  font-size: 1.1rem;
}

.copyright span {
  margin-left: 3rem;
}

@media screen and (max-width: 767px) {
  footer {
    padding: 3rem 1rem;
  }

  footer span {
    margin-bottom: 1.5rem;
  }

  .copyright span {
    margin-left: 0;
  }

  footer p {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
}
